.logo-container {
    padding: 10px 140px 10px 140px;
    width: 100%
}

.row .col {
    height: 100%;
}

.temperature {
    font-size: 4rem;
    font-family: var(--font-monospace);
    padding-left: 10px;
    line-height: 8rem;
    height: 190px;
}

.temperature #temperature-number {
    font-size: 10rem;
}

.temperature-btn {
    color: white;
    text-align: center;
    width: 75px;
    line-height: 75px;
    font-size: 2rem;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--color-apc-blue);
}

.power-button-container.col.s5 {
    height: 86px;
    padding-top: 15px;
}

#power-button {
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 50%;
    font-size: 2rem;
    width: 52px;
    height: 52px;
}

.aircon-unit-container {
    font-family: var(--font-heading);
    font-size: 1rem;
}

#aircon-unit {
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 1.15rem;
}

.fan-function-text {
    font-family: var(--font-logo);
    font-size: 1.75rem;
    width: 100%;
}

.sweep-btn-container {
    height: 75px;
    text-align: center;
    padding-top: 40px;
}

.fan-function-btn {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    color: black;
    font-size: 2rem;
    padding-right: 1px;
    bottom: 50%;
    border-radius: 50%;
    color: #bbbbbb;
}

.fan-function-btn.active {
    color: black;
}

#sweep {
    font-family: var(--font-heading);
    font-weight: 600;
    background-color: var(--color-apc-blue);
}

.fan-speed-text {
    font-family: var(--font-logo);
    font-size: 1.75rem;
    text-align: center;
}

.fan-speed-container [type="radio"]:checked+span,
.fan-speed-container [type="radio"]:not(:checked)+span {
    font-size: 1rem;
    font-family: var(--font-heading);
    font-weight: 600;
}

.fan-speed-container [type="radio"]:not(:checked)+span {
    color: #bbbbbb;
}

.fan-speed-container .low-container [type="radio"]:checked+span {
    color: var(--color-fan-low);
}

.fan-speed-container .medium-container [type="radio"]:checked+span {
    color: var(--color-fan-medium);
}

.fan-speed-container .high-container [type="radio"]:checked+span {
    color: var(--color-fan-high)
}

.low-container  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: var(--color-fan-low);
}

.low-container [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--color-fan-low);
}

.medium-container  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: var(--color-fan-medium);
}

.medium-container [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--color-fan-medium);
}

.high-container  [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: var(--color-fan-high);
}

.high-container [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid var(--color-fan-high);
}