:root {
    --color-apc-gold: #DEAC4B;
    --color-apc-blue: #35438C;
    --color-cool-black: #052F5F;
    --color-dark-terra-cota: #DB5461;
    --color-green-crayola: #20BC6B;
    --color-dark-gray: #444444;
    --color-light-gray: #EEEEEE;
    --color-office-365: #DC3E15;
    --color-medium-gray: #777777;
    --color-fan-low: #2e7d32;
    --color-fan-medium: #f57c00;
    --color-fan-high: #c62828;
    --color-messenger: #0084FF;
    --color-linkedin:  #0e76a8;
}

body {
    font-family: var(--font-text);
    font-style: normal;
    font-weight: 300;
    color: var(--color-dark-gray);
    width: 100%;
}

.logo-container {
    padding: 50px 70px 30px 70px;
    width: 100%
}

.logo-container img {
    width: 100%;
}

.logo-container h5 {
    font-family: var(--font-logo);
    text-align: center;
    color: var(--color-apc-blue);
}

.row form.col > .row {
    margin: 0;
    text-align: center;
}

.row form.col label {
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--color-dark-gray);
    font-size: 1.1em;
}

.row form.col input {
    font-size: 1.3em;
    color: var(--color-dark-gray);
}

.row form.col button {
    font-family: var(--font-heading);
    font-size: 1.3em;
    padding: 5px 25px 5px 25px;
    width: unset;
    height: unset;
    background-color: var(--color-apc-blue);
    font-weight: 600;
}

.waves-effect .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    /* background-color: rgba(222, 172, 75, 0.5); */
    background-color: rgba(40, 40, 40, 0.5);
}